@using System.Diagnostics
@using System.IO

<div class="row mt-3">
    <div class="col">
        <nav>
            <ol class="breadcrumb">
                @foreach (var path in Directory.Split('\\'))
                {
                    @if (Directory.EndsWith(path))
                    {
                        <li class="breadcrumb-item active">@path</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item">
                            <a href="#" style="color: @ThemeColor" @onclick="(() => Directory = Directory.Substring(0, Directory.LastIndexOf(path) + path.Length + 1))">@path</a>
                        </li>
                    }
                }
            </ol>
        </nav>
    </div>
    <div class="col col-auto">
        <Dropdown Text="Open current folder in...">
            <li><a class="dropdown-item" href="#" @onclick="OpenCommandPrompt">Command Prompt</a></li>
            <li><a class="dropdown-item" href="#" @onclick="OpenFileExplorer">File Explorer</a></li>
        </Dropdown>
    </div>
</div>

<div class="row">
    <div class="col col-6">
        <h4>Folders</h4>
        @if (Folders is null)
        {
            <p>Loading...</p>
        }
        else if (!Folders.Any())
        {
            <p>No folders found.</p>
        }
        else
        {
            <CascadingValue Value="this">
                <div class="row">
                    @foreach (var folder in Folders)
                    {
                        <div class="col col-6 mb-3">
                            <Folder FolderPath="@folder" />                          
                        </div>
                    }
                </div>
            </CascadingValue>
        }
    </div>
    <div class="col col-6">
        <h4>Files</h4>
        @if (Files is null)
        {
            <p>Loading...</p>
        }
        else if (!Files.Any())
        {
            <p>No files found.</p>
        }
        else
        {
            <table class="table table-hover">
                <tbody>
                    @foreach (var file in Files)
                    {
                        <File FileName="@file" />
                    }
                </tbody>
            </table>
        }
    </div>
</div>
